<ion-header>
  <ion-navbar color="primary">
    <ion-title> 
      SonidosAPP    
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="order=true" *ngIf="!order">
        <ion-icon name="reorder"></ion-icon>
      </button>

      <button ion-button (click)="order=false" *ngIf="order">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="!order">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [reorder]="order" ionItemReorder="reorder($event)">
    <ion-item-sliding *ngFor="let animal of animales; let i = index;">
      <ion-item  (click)="reproducir(animal)">
        <ion-avatar item-left>
          <img [src]="animal.imagen">
        </ion-avatar>
        <h2>{{animal.nombre}}</h2>
        <ion-icon name="play" item-right *ngIf="!animal.reproduciendo"></ion-icon>
        <ion-icon name="pause" item-right *ngIf="animal.reproduciendo"></ion-icon>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="borrar(i)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
